<div class="all">


<!-- <p>full-list works!!!!</p> -->
<div class="button-container">
  <button mat-raised-button color="warn" class="center-button" routerLink="/admin/add-product">Crear Producto</button>
  <button mat-raised-button color="primary" class="center-button" routerLink="/admin/dashboard">Ir a Dashboard</button>
</div>

<h3 style="margin: 10px; text-align: center;">LISTA DE PRODUCTOS ADMIN</h3>
  <mat-form-field >
    <mat-label>Buscar por contenido ...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Product Name, Ex. Description, Ex. Cant" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table  mat-table [dataSource]="dataSource" matSort  >

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRODUCT ID </th>
        <td mat-cell *matCellDef="let product"> {{ product.id }} </td>
      </ng-container>

      <!-- NOMBRE Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRODUCT TYPE </th>
        <td mat-cell *matCellDef="let product"> {{ product.tipo }} </td>
      </ng-container>

      <!-- NOMBRE Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRODUCT NAME </th>
        <td mat-cell *matCellDef="let product"> {{ product.nombre }} </td>
      </ng-container>

      <!-- DESCRIPC Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </th>
        <td mat-cell *matCellDef="let product"> {{ product.descripcion }} </td>
      </ng-container>

      <!-- PRECIO Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE/U </th>
        <td mat-cell *matCellDef="let product"> {{ product.precio | currency}} </td>
      </ng-container>

      <!-- CANTID Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> IN STORE... </th>
        <td mat-cell *matCellDef="let product"> {{ product.cantidad }} </td>
      </ng-container>


        <!-- actions Column-->
       <div class="">
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
          <td mat-cell *matCellDef="let product">


          <button
            mat-icon-button
            style="color: rgb(85, 87, 224);"
            (click)="editProduct(product)"
            matTooltip="Editar Producto">
              <mat-icon>edit</mat-icon>
          </button>


          <button
            mat-icon-button
            style="color: rgb(245, 60, 60)"
            (click)="deleteProduct(product.id)"
            matTooltip ="Eliminar Producto">
              <mat-icon>delete</mat-icon>
          </button>

          </td>
      </ng-container>
       </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

  <br>


</div>
