.all {
  margin: 1%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.center-button {
  margin: 0 10px; /* Añade un margen horizontal para separar los botones */
}

table {
  width: auto;
}

.center {
  width: auto;
  text-align: center;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  margin-bottom: 5px;
}
//////////////////////////////////////////
///ESTILOS PARA MOSTRAR LAS MINI-CARD DE LOS PORDUCTOS COMPRADOS
.example-element-diagram {
  display: flex;
  border-radius: 5px;
  min-width: 80px;
  border: 0.1px solid rgb(166, 197, 255);
  font-weight: lighter;
  height: auto;
   /* Agrega esta línea para redondear los bordes */
  background-color: rgb(220, 247, 255);
  margin: 0 2px;
  overflow: hidden;

}

.data {
  font-family: 'Bahnschrift Condensed';
  height: auto;
  padding-left: 4px;
  padding-right: 4px;
}

//estilos minicard product
.example-element-diagram {
  display: flex;
  align-items: center;
}

.card-image {
  border-radius:5px;
  min-width: 80px;
  height: 60px;
  object-fit: cover;
}

.details-container {
  flex: 1;
}
// /////////////////////////////////////////

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

//3 BOTONES
.button-container {
  margin-left: 20px;
  flex: 1;
  justify-content: right;
  align-items: center;
  //height: auto;
  margin-bottom: 20px;
}

.center-button {
  margin: 0 4px; /* Añade un margen horizontal para separar los botones */
}

///////////////////////////////////////////////
///ESTILOS PARA EL FILTRO
.filter-container {
  width: 90%;
  background: rgba(141, 213, 255, 0.6);
  // box-shadow: 0 2px 7px rgba(0, 0, 0, 0.20);
  border-radius: 30px;
  display: flex;
  // flex-wrap: wrap;
  gap: 4%;
  margin-left: 5%;
}

.filter {
  margin-left: 4%;
  width: 200px;
}

.dashboard-icon {
  margin-top: 0px;
  margin-left: auto;
  margin-right: 0px;
}
//////////////////////////////////////////////


.form-size{
  height: 65px;
  width: auto;
}

.small-label{
  font-size: 15px;
}

.small-select{
  font-size: 12px;
  margin-bottom: 3px;
}
