<!-- <p>header works!</p> -->

<mat-toolbar color="primary">


  <div class="logo-container">
    <span>
      <img
        routerLink="/home"
        src="./../../../assets/logo/logotipo.png" alt="" class="logo-img" style="cursor: pointer;">
    </span>
  </div>


  <span class="example-spacer"></span>
  <!-- <h5>{{ userNameLogged }}</h5> -->

  <button
    mat-icon-button
    routerLink="/home"
    class="example-icon favorite-icon,;"
    aria-label="Example icon-button with heart icon;"
    matTooltip="HOME">
      <mat-icon>home</mat-icon>
  </button>

  <a routerLink="/auth/register">
    <button mat-button>
        <p style="font-size: 12px; color: white;  line-height: 1.5; margin: 0px;">Hola! Identifícate, <br>
          <strong style="font-size: 12px; letter-spacing: 1.5px;">
            REGISTROS AQUI
          </strong>
        </p>
    </button>
  </a>

  <button
    mat-icon-button
    routerLink="/auth/login"
    class="example-icon"
    aria-label="Example icon-button with share icon"
    matTooltip="LOGIN">
      <mat-icon>login</mat-icon>
  </button>

  <button
    isLogged
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="example-icon"
    aria-label="Example icon-button with share icon"
    matTooltip="USER SETTINGS">
      <mat-icon>person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <!-- <button mat-menu-item (click)="editUser(user)">
      <mat-icon>manage_accounts</mat-icon>
      <span>Datos Usuario</span>
    </button> -->

    <button mat-menu-item >
      <mat-icon>manage_accounts</mat-icon>
      <span>Datos Usuario</span>
    </button>

    <!-- <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button> -->

    <button mat-menu-item routerLink="pages/show-user-orders">
      <mat-icon>format_list_numbered_rtl</mat-icon>
      <span>Ver mis Ordenes</span>
    </button>

    <button
      mat-menu-item
      (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout {{ userNameLogged }} </span>
    </button>

  </mat-menu>

  <span isLogged class="logo-container">
    <app-badge
    routerLink="/pages/buy-car"
    matTooltip="CARRITO DE COMPRAS"></app-badge>
  </span>


  </mat-toolbar>
