<!-- <p>header works!</p> -->

<mat-toolbar color="primary">


  <div class="logo-container">
    <span><img src="./../../../assets/icons/logo.png" alt="" width="35px"></span>
    <!-- <span class="title"></span> -->
    <h1 style="font-size: 35px"> Ñoooo, Que barato !!!</h1>
  </div>

  <span class="example-spacer"></span>
  <!-- <h5>{{ userNameLogged }}</h5> -->

  <div class="align-center">
    <a mat-button>HOME</a>
  </div>


  <button
    mat-icon-button
    routerLink="/home"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    matTooltip="HOME">
      <mat-icon>home</mat-icon>
  </button>

  <button
    mat-icon-button
    routerLink="/auth/login"
    class="example-icon"
    aria-label="Example icon-button with share icon"
    matTooltip="LOGIN">
      <mat-icon>login</mat-icon>
  </button>

  <button
    isLogged
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="example-icon"
    aria-label="Example icon-button with share icon"
    matTooltip="USER SETTINGS">
      <mat-icon>person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>

    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>

    <button mat-menu-item routerLink="pages/show-user-orders">
      <mat-icon>format_list_numbered_rtl</mat-icon>
      <span>Ver mis Ordenes</span>
    </button>

    <button
      mat-menu-item
      (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout {{ userNameLogged }} </span>
    </button>

  </mat-menu>

  <span class="logo-container">
    <app-badge
    routerLink="/pages/buy-car"
    matTooltip="CARRITO DE COMPRAS"></app-badge>
    <!-- <small><app-total-import></app-total-import></small> -->
  </span>


  </mat-toolbar>
