  .all{
    margin: 1%;
  }

  .table {
    width: 100%;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

///////////////////////////
  .responsive-table{
    overflow-x: auto;
    display: block;
  }
  .mat-table{
    width: 100%;
    table-layout: auto;
  }

  .mat-cell,
.mat-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Asegurarse de que los botones en la columna "actions" sean visibles en pantallas pequeñas */
.button-container {
  display: flex;
  justify-content: right;
  gap: 10px; /* Espacio entre los botones */
}

/* Ajustar el ancho mínimo de la columna "actions" en pantallas pequeñas */
.mat-column-actions {
  min-width: 100px;
}
