<div class="all">

  <div class="button-container">
    <button mat-raised-button color="warn" class="center-button" [routerLink]="['/admin/register']" routerLinkActive="router-link-active" >Crear usuario</button>
    <button mat-raised-button color="primary" class="center-button" routerLink="/admin/dashboard">Ir al Dashboard</button>
  </div>

  <h2 style="margin: 10px; text-align: center;">LISTA DE USUARIOS REGISTRADOS</h2>
  <mat-form-field class="buscador" >
    <mat-label>Search...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Product Name, Ex. Description, Ex. Cant" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th class="center" mat-header-cell *matHeaderCellDef> ID </th>
          <td class="center" mat-cell *matCellDef="let user"> {{user.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="userName">
          <th class="center" mat-header-cell *matHeaderCellDef> UserName </th>
          <td class="center" mat-cell *matCellDef="let user"> {{user.userName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="nombre">
          <th class="center" mat-header-cell *matHeaderCellDef> Nombre </th>
          <td class="center" mat-cell *matCellDef="let user"> {{user.nombre}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="apellido">
          <th class="center" mat-header-cell *matHeaderCellDef> Apellido </th>
          <td class="center" mat-cell *matCellDef="let user"> {{user.apellido}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="direccion">
          <th class="center" mat-header-cell *matHeaderCellDef> Direccion </th>
          <td class="center" mat-cell *matCellDef="let user"> {{user.direccion}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="rol">
          <th class="center" mat-header-cell *matHeaderCellDef> Rol </th>
          <td class="center" mat-cell *matCellDef="let user"> {{user.rol}} </td>
        </ng-container>


        <!-- actions Column-->
        <div>
          <ng-container matColumnDef="actions">
            <th class="center" mat-header-cell *matHeaderCellDef>ACTIONS</th>
              <td class="center" mat-cell *matCellDef="let user" >
                <div class="button-container">
                  <!-- BUTTONS -->
                  <button
                    mat-icon-button
                    style="color: rgb(85, 87, 224);"
                    (click)="editUser(user)"
                    matTooltip="Editar Usuario">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button
                    mat-icon-button
                    style="color: rgb(245, 60, 60)"
                    (click)="deleteUser(user.id)"
                    matTooltip ="Eliminar Usuario">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
          </ng-container>
        </div>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>


</div>
