  .all {
    margin: 1%;
  }

  .table {
    width: 100%;
  }

  .center {
    width: auto;
    text-align: center;
  }

  .buscador {
    font-size: 14px;
    width: 100%;
  }

  .mat-table{
    width: 100%;
    table-layout: auto;
  }

/* Asegurarse de que los botones en la columna "actions" sean visibles en pantallas pequeñas */
.button-container {
  display: flex;
  justify-content: right;
  gap: 10px; /* Espacio entre los botones */
}

/* Ajustar el ancho mínimo de la columna "actions" en pantallas pequeñas */
.mat-column-actions {
  min-width: 100px;
}
