
.full-width-input{
  width: 100%;
}

.all {
  max-width: 60%;
  margin: 2rem auto;
  height: auto;
  width: 710px;
}

//3 BOTONES
.button-container {
display: flex;
justify-content: right;
align-items: center;
//height: auto;
margin-bottom: 10px;
}

.center-button {
margin: 0 4px; /* Añade un margen horizontal para separar los botones */
}

  /* Estilos para la vista previa de la imagen */
.image-preview {
  overflow: hidden; /* Evita que la imagen se desborde si es demasiado grande */
}

/* Estilos para centrar el contenido en la parte inferior */
.button-center {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
height: 100%;
}

.image-container {
position: relative;
}

.style-and-size {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: auto;
height: auto;
font-size: 80px;
z-index: 2;
}

.image-preview {
padding: 40px;
//max-width: 100%;
//height: 475px;
//position: relative;
z-index: 1;
}
