.example-card {
  max-width: 400px;
}

.main-container{
  display: flex;

}

.app-month-sale-size{
  width: 75%;
  height: auto;
  transform: scale(0.9);
}

.app-grafics-size{
  width: 25%;
  height: auto;
  transform: scale(0.9);
}
