<p>dashboard works!</p>
<div class="all">
  <div class="main-container">

    <mat-card class="app-month-sale-size">
      <app-month-sales-grafic></app-month-sales-grafic>
    </mat-card>

    <mat-card class="app-grafics-size">
      <app-grafics></app-grafics>
    </mat-card>

    <!-- <mat-card>
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Resumen de ventas y ordenes por Año</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-grafic-year></app-grafic-year>
        </mat-card-content>

    </mat-card> -->

  </div>

  <div class="main-container">
    <mat-card class="app-cards-user">
      <app-cards-user></app-cards-user>
    </mat-card>
  </div>
</div>




