
  <!-- <p style="text-align: center;">Grafics!</p> -->

  <mat-card-header>
    <mat-card-title>Gráfica de Donas</mat-card-title>
    <mat-card-subtitle>Resumen de ventas y ordenes por Año </mat-card-subtitle>

  </mat-card-header>
  <!-- <img matCardImage src="Card wide image source"> -->
  <mat-card-content>

    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [plotOptions]="chartOptions.plotOptions"
        [labels]="chartOptions.labels"
      ></apx-chart>
    </div>
  </mat-card-content>




