<p>users-edit works!</p>
<!-- user-form.component.html -->
<div class="center-content">
  <mat-card class="mat-card">
    <br>
    <h3><strong>EDIT-USER</strong></h3>

    <form [formGroup]="editForm" (ngSubmit)="updateUser()" >
      
      <mat-form-field class="full-width-input"appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="nombre"
          name="nombre"
          type="text"
          id="nombre" required>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input
          matInput formControlName="apellido"
          autocomplete="off"
          name="apellido"
          type="text"
          id="apellido" required>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="fill">
        <mat-label>Dirección</mat-label>
        <textarea
          matInput
          formControlName="direccion"
          autocomplete="off"
          name="direccion"
          type="text"
          id="direccion" required></textarea>
      </mat-form-field>

      <div class="radio-group">
        <strong><span>Change user role</span></strong><br>
        <mat-radio-group formControlName="rol">
          <mat-radio-button value="ADMIN">ADMIN</mat-radio-button>
          <mat-radio-button value="USER">USER</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="user-form">
        <button mat-raised-button color="warn" (click)="updateUser()" class="full-width-input">Actualizar Usuario</button>
        <br>
      </div>
    </form>
  </mat-card>
</div>
<br>
<div class="button-container">
  <button
    mat-raised-button
    color="primary" class="center-button"
    routerLink="/admin/users-list">Back to userlist</button>
  <!-- <button mat-raised-button color="primary" class="center-button">Button 2</button>
  <button mat-raised-button color="primary" class="center-button">Button 3</button> -->
</div>

