
  <mat-card-header>
    <mat-card-title>Gráfica de Barras</mat-card-title> <br>
    <mat-card-subtitle>Representación de la cantidad de ventas y ordenes por mes </mat-card-subtitle>
  </mat-card-header>
  <!-- <img matCardImage src="Card wide image source"> -->
  <mat-card-content>
    <!-- <p style="text-align: center;">month-sales-grafic works!</p> -->

    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
    
    <div class="center">
      <strong>
        Total Importe Año: {{anioDinero | currency}}
        Total Ordenes Año:{{anioOrden}}
      </strong>
    </div>

  </mat-card-content>











