  .side-nav {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content:space-between;
    flex-direction: column;

    transition: width 1s;
  }

  .example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;

    ////
    width: 100%;
    margin-bottom: 7px;
  }

  .example-menu-item {
    // justify-content: flex-start;
    color: rgb(211, 211, 211);
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 5px;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }

  .example-menu-item:hover {
    // background-color: rgb(197, 119, 2);
    background-color: rgb(97, 125, 253);
  }

  .example-menu-item:active {
    // background-color: rgb(53, 87, 236);
    background-color: rgb(197, 119, 2);
  }

  .image {
    margin: 10px;
    border-radius: 8px;
  }

  .user {
    width: 250px;
    height: auto;
    background-color: rgb(53, 87, 236);
    display: flex;
    justify-content: space-between;
    // font-size: 12px;
    border-radius: 13px;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    // margin-right: auto;
  }

  .user-img {
    width: 40px;
    border-radius: 50%;
    margin: 10px;
  }

  .star-img {
    width: 30px;
    color: white;
  }

  .h4-admin {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    // line-height: 1.5px;
  }

  .floating-button {

    position: fixed;
    top: 75px;
    left: 12px;
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
    // padding: 10px;
    background-color: rgb(53, 87, 236);
  }

  .floating-button:active {
    // background-color: rgb(53, 87, 236);
    background-color: rgb(197, 119, 2);
  }
