<!-- <p>sidebar works!</p> -->
<mat-drawer-container class="side-nav" autosize>

  <mat-drawer #drawer color="warn" mode="push" style="background-color: #1d1d1d">

    <div class="user">
      <img src="../../../assets/img/user.jpg" class="user-img" width="100px">
      <div>
          <h4 class="h4-admin"><small><strong>{{ userNameLogged }} <br> {{ usernameEmail }} </strong> </small> </h4>
          <!-- <p>{{userRolLogged}}</p> -->
      </div>
      <mat-icon class="star-img" width="50px">star_rating</mat-icon>
    </div>

    <div>
      <img class="image" src="https://www.palermo.edu/Archivos_content/2018/economicas/octubre/buena-redaccion/640.jpg" alt="image"
      width="250px">
    </div>

    <div class="example-menu" cdkMenu style="background-color: #1d1d1d">

      <button class="example-menu-item" cdkMenuItem routerLink="/admin/dashboard"> <mat-icon style="margin-right: 10px;">dashboard</mat-icon> DASHBOARD</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/pages/list"> <mat-icon style="margin-right: 10px;">storefront</mat-icon> TIENDA PRODUCTOS</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/admin/add-product"> <mat-icon style="margin-right: 10px;">new_label</mat-icon>AGREGAR PRODUCTO</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/admin/full-list"> <mat-icon style="margin-right: 10px;">list</mat-icon> LISTA PRODUCTOS</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/admin/users-list"> <mat-icon style="margin-right: 10px;">account_circle</mat-icon> LISTA USUARIOS</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/admin/all-orders"> <mat-icon style="margin-right: 10px;">reorder</mat-icon> LISTA ORDENES</button>

      <button class="example-menu-item" cdkMenuItem> <mat-icon style="margin-right: 10px;">reorder</mat-icon> EXAMPLE 1</button>
      <button class="example-menu-item" cdkMenuItem> <mat-icon style="margin-right: 10px;">reorder</mat-icon> EXAMPLE 2</button>
      <button class="example-menu-item" cdkMenuItem> <mat-icon style="margin-right: 10px;">reorder</mat-icon> EXAMPLE 3</button>
      <button class="example-menu-item" cdkMenuItem> <mat-icon style="margin-right: 10px;">reorder</mat-icon> EXAMPLE 4</button>
      <button class="example-menu-item" cdkMenuItem> <mat-icon style="margin-right: 10px;">reorder</mat-icon> EXAMPLE 5</button>3

    </div>

  </mat-drawer>

  <!-- <button class="floating-button" mat-button type="button" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->

  <button adminOnly class="floating-button" mat-mini-fab color="primary" (click)="drawer.toggle()" matTooltip="Despliegue barra de navegación">
    <mat-icon>menu</mat-icon>
  </button>

  <router-outlet></router-outlet>

</mat-drawer-container>



