<!-- <p>sidebar works!</p> -->
<mat-drawer-container class="side-nav" autosize>

  <mat-drawer #drawer color="primary" mode="over">

    <div class="user">
      <img src="../../../assets/img/user.jpg" class="user-img" width="100px">
      <div>
          <h5 class="h4-admin"><small><strong>{{userNameLogged}}</strong> </small> </h5>
          <p class="p-email">{{ usernameEmail }}</p>
          <!-- <p>{{userRolLogged}}</p> -->
      </div>
      <img src="../../../assets/img/white-star.png" class="star-img" width="50px">
    </div>

    <div>
      <img class="image" src="https://www.palermo.edu/Archivos_content/2018/economicas/octubre/buena-redaccion/640.jpg" alt="image"
      width="250px">
    </div>

    <div class="example-menu" cdkMenu>
      <button class="example-menu-item" cdkMenuItem routerLink="/admin/dashboard"> <mat-icon>dashboard</mat-icon> DASHBOARD</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/admin/add-product"> <mat-icon>new_label</mat-icon>AGREGAR PRODUCTO</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/admin/full-list"> <mat-icon>list</mat-icon> LISTA PRODUCTOS</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/admin/users-list"> <mat-icon>account_circle</mat-icon> LISTA USUARIOS</button>
      <button class="example-menu-item" cdkMenuItem routerLink="/admin/all-orders"> <mat-icon>reorder</mat-icon> LISTA ORDENES</button>

      <div>
        <button class="example-menu-item" cdkMenuItem> <mat-icon>logout</mat-icon> LOG OUT</button>
      </div>
    </div>

  </mat-drawer>

  <button mat-button type="button" (click)="drawer.toggle()">
    <!-- <button adminOnly mat-button type="button" (click)="drawer.toggle()"> -->
    <mat-icon>menu</mat-icon>
    <!-- <mat-icon adminOnly type="button" mat-button (click)="drawer.toggle()">menu</mat-icon> -->
  </button>

  <router-outlet></router-outlet>

</mat-drawer-container>



