<!-- <p>home component works!!!</p> -->
<div >
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">

        <div class="image-size">
          <img src="./../../assets/carrousel/tattoo_store.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-caption d-none d-md-block">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Tenetur quae molestiae dolorum nisi dignissimos perferendis explicabo nihil
            tempora molestias necessitatibus, pariatur doloremque iste eveniet esse soluta officia quisquam aliquam nobis.</p>
          <a class="btn btn-primary" routerLink="/pages/list">VISITAR TATTOO STORE</a>
        </div>

      </div>

      <div class="carousel-item" data-bs-interval="3000">

        <div class="image-size">
          <img src="./../../assets/carrousel/mariscos_store.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-caption d-none d-md-block">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur quae molestiae
            dolorum nisi dignissimos perferendis explicabo nihil tempora molestias necessitatibus,
            pariatur doloremque iste eveniet esse soluta officia quisquam aliquam nobis.</p>
          <a class="btn btn-primary">VISITAR MARISCOS STORE</a>
        </div>

      </div>

      <div class="carousel-item">

        <div class="image-size">
          <img src="./../../assets/carrousel/fruit_store.jpeg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
          <button mat-raised-button color="warn">VISITAR FRUITS STORE</button>
        </div>

      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

  <!-- CARD -->
  <mat-card class="card">
      <mat-card-header>
          <mat-card-title>PAGINAS RELACIONADAS</mat-card-title>
          <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ipsam. Totam doloribus deserunt, maxime vero sit beatae ab reprehenderit, veniam consequuntur ea quam a provident quos nihil! Aperiam, doloremque laboriosam?</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <!-- AGREGANDO CONTENIDO  -->
        <div class="all-box-response">

        </div>

        <div class="center-content">
          <div class="all-box">
            <div class="box">
              <a href="https://www.amazon.com/" target="_blank" rel="noopener noreferrer">
                <img class="box-img" src="./../../assets/paginas-relacionadas/amazon-logo.jpg"  height="120px" matTooltip="VISITAR AMAZON" >
              </a>
            </div>

            <div class="box">
              <a href="https://mercadolibre.com/" target="_blank" rel="noopener noreferrer">
                <img class="box-img" src="./../../assets/paginas-relacionadas/Mercado_Libre.png"  height="120px" matTooltip="VISITAR MERCADO">
              </a>
            </div>

            <div class="box">
              <img class="box-img" src="./../../assets/paginas-relacionadas/example.png"  height="120px" matTooltip="VISITAR" routerLink="">
            </div>

            <div class="box">
              <img class="box-img" src="./../../assets/paginas-relacionadas/example1.png"  height="120px" matTooltip="VISITAR" routerLink="">
            </div>

            <div class="box">
              <img class="box-img" src="./../../assets/paginas-relacionadas/amvo-logo-02-1.png"  height="120px" matTooltip="VISITAR" routerLink="">
            </div>

            <div class="box">
              <img class="box-img" src="./../../assets/paginas-relacionadas/company-name.png"  height="120px" matTooltip="VISITAR" routerLink="">
            </div>

            <div class="box">
              <img class="box-img" src="./../../assets/paginas-relacionadas/company-name1.png"  height="120px" matTooltip="VISITAR" routerLink="">
            </div>

            <div class="box">
              <img class="box-img" src="./../../assets/paginas-relacionadas/company-name.png"  height="120px" matTooltip="VISITAR" routerLink="">
            </div>

            <div class="box">
              <img class="box-img" src="./../../assets/paginas-relacionadas/amvo-logo-02-1.png"  height="120px" matTooltip="VISITAR" routerLink="">
            </div>

            <div class="box">
              <img class="box-img" src="./../../assets/paginas-relacionadas/example.png"  height="120px" matTooltip="VISITAR" routerLink="">
            </div>

            <div class="box">
              <img class="box-img" src="./../../assets/paginas-relacionadas/example1.png"  height="120px" matTooltip="VISITAR" routerLink="">
            </div>

          </div>


        </div>


        <div>

          <mat-card-title><H1 style="text-align: center;margin-top: 30px;">BREVE DESCRIPCION DE LA WEB</H1></mat-card-title>


          <p style="margin: 5%; margin-top: 30px; text-align: justify;">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta accusamus delectus facere repudiandae, enim distinctio doloribus consequatur culpa fugiat sapiente illum ex eius asperiores omnis libero. Quisquam quod libero facilis?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus perspiciatis maiores vel ex dignissimos rerum aliquid laborum corporis perferendis sit, natus, quasi temporibus. Modi eius, deleniti dolores illo dignissimos quae?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta accusamus delectus facere repudiandae, enim distinctio doloribus consequatur culpa fugiat sapiente illum ex eius asperiores omnis libero. Quisquam quod libero facilis?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus perspiciatis maiores vel ex dignissimos rerum aliquid laborum corporis perferendis sit, natus, quasi temporibus. Modi eius, deleniti dolores illo dignissimos quae?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta accusamus delectus facere repudiandae, enim distinctio doloribus consequatur culpa fugiat sapiente illum ex eius asperiores omnis libero. Quisquam quod libero facilis?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus perspiciatis maiores vel ex dignissimos rerum aliquid laborum corporis perferendis sit, natus, quasi temporibus. Modi eius, deleniti dolores illo dignissimos quae?

          </p>
        </div>

      </mat-card-content>

      <mat-card-actions align="start">
        <button mat-button >Action1</button>
      </mat-card-actions>

  </mat-card>


</div>
