<!-- <p>home component works!!!</p> -->
<div class="carrousel-size">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">

        <div class="image-size">
          <img src="./../../assets/carrousel/tattoo_store.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-caption d-none d-md-block">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur quae molestiae dolorum nisi dignissimos perferendis explicabo nihil tempora molestias necessitatibus, pariatur doloremque iste eveniet esse soluta officia quisquam aliquam nobis.</p>
          <a class="btn btn-primary" routerLink="/pages/list">VISITAR TATTOO STORE</a>
        </div>

      </div>

      <div class="carousel-item" data-bs-interval="3000">

        <div class="image-size">
          <img src="./../../assets/carrousel/mariscos_store.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-caption d-none d-md-block">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur quae molestiae dolorum nisi dignissimos perferendis explicabo nihil tempora molestias necessitatibus, pariatur doloremque iste eveniet esse soluta officia quisquam aliquam nobis.</p>
          <a class="btn btn-primary">VISITAR MARISCOS STORE</a>
        </div>

      </div>

      <div class="carousel-item">

        <div class="image-size">
          <img src="./../../assets/carrousel/fruit_store.jpeg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
          <button mat-raised-button color="warn">VISITAR FRUITS STORE</button>
        </div>

      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

</div>
