.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://i.pinimg.com/originals/b6/24/5f/b6245f60ce53c55e0cc9c3305e849c96.jpg');
    background-size: cover;
  }




  
//   .card-flotante-interno {
//     position: fixed;
//     right: 0;
//     top: 9.5rem;
//     text-align: left;
//     z-index:9;
// }
// .itemcard {
//     border-bottom: 1px solid rgba(255,255,255,.5);
//     position: relative;
//     right: -4.8rem;
//     transition: right 1s;
//     border-radius: 5px 0px 0px 5px;
// }
// .itemcard:hover{
//     right: 0;
// }
// .itemcard span {
//     word-break: inherit;
//     width: 70px;
//     display: inline-block;
//     vertical-align: middle;
//     color: #000000;
// }
// .itemcard:last-child {
//     border-bottom: none;
// }
// .itemcard img {
//     height: 50px;
//     width: 50px;
// }