<!-- <p>list works!</p> -->

<!-- <small><app-total-import></app-total-import></small> -->
<h2 style="margin: 10px; text-align: center;">LISTA DE PRODUCTOS</h2>
<!-- FILTRO POR TIPO DE PRODUCTO -->
<!-- <div class="search-container">
  <mat-icon class="search-icon">search</mat-icon>
  <input
    type="text"
    [(ngModel)]="productType"
    (input)="filtrarProductos()"
    placeholder="Search by product type..."
    class="search-input">
    <span class="search-icon">
      <i class="fas fa-search"></i>
    </span>
</div> -->

<!-- FILTRO -->
<div class="filter-container">

  <!-- filtro por tipo -->
  <div class="filter">
    <div>
      <mat-label class="small-label"> Filtro</mat-label>
      <mat-select class="small-select" [(ngModel)]="selectedProductType" (selectionChange)="applyFilters()" placeholder="Tipo de Producto">
        <mat-option *ngFor="let tipo of productType" [value]="tipo">{{ tipo }}</mat-option>
      </mat-select>
    </div>
    {{selectedProductType}}
  </div>



</div>

<div class="content">
  <div *ngFor="let product of filteredProducts">
    <div class="card" *ngIf="product.cantidad > 1">

      <div >
        <h6 class="card-title">{{product.nombre}}</h6>
      </div>

      <div class="card-container">
        <img class="card-image" src ="{{product.img}}" alt="Imagen del producto" matTooltip="DESCRIPCION: {{product.descripcion}}">
        <div>
          <strong>
            <div class="cant">
              <p class="card-price">TIPO: {{product.tipo}}</p>
              <p class="card-price">DISPONIBLE: {{product.cantidad}}</p>
              <p class="card-price">PRECIO: {{ product.precio | currency }}</p>
            </div>
          </strong>
        </div>

        <button
          mat-raised-button
          color="primary"
          class="ancho"
          (click)="sendData(product)"
          [disabled]="product.cantidad === 0"> AGREGAR AL CARRITO
        </button>
      </div>

    </div>
  </div>
</div>

